{% extends 'base.html' %}
{% block title%}
Home
{% endblock%}
{% block navbar %}
{% include 'include/nav.html' %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for p in product_list  %} 
        <div class="col-md-4">
            <img src="{{ p.image.url }}" alt="{{ p.title }}" class="img-fluid" style="height:250px;"/>
            <h3><a href="{% url 'mystor:productdetails' p.slug %}">{{ p.title }}</a></h3>
            
            <p>Price:<strike>$. {{p.mared_price}}</strike> ${{ p.salling_price }}</p>
            <a href="{% url 'mystor:addtocart' p.id %}" class="btn btn-info">Add to Cart</a>
            <hr>
        </div>
        
        {% endfor %}
        
      </div>
</div>
{% endblock %}

